<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SS-Hotspot - Login Success</title>
    <link rel="stylesheet" href="../4style.css">
</head>

<body>
    <h1>You are Logged in</h1>
    <h2>If nothing happens, click <a href="#" id="close">here</a></h2>
    <script>
        document.getElementById('closeLink').addEventListener('click', function() {
            window.close();
        });
    </script>
</body>

</html>