<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <title>SS-Hotspot - Logout</title>
    <link rel="stylesheet" href="../1style.css">

</head>

<body>
    <div class="ie-fixMinHeight">
        <div class="main">
            <div class="wrap">
                <h1>You have just logged out!</h1>
                <table>
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td>122939</td>
                        </tr>
                        <tr>
                            <td>IP address</td>
                            <td>10.0.165.93</td>
                        </tr>
                        <tr>
                            <td>MAC address</td>
                            <td>6A:D4:E8:B6:DD:76</td>
                        </tr>
                        <tr>
                            <td>Session time</td>
                            <td>25s</td>
                        </tr>

                        <tr>
                            <td>Time left</td>
                            <td>1h29m35s</td>
                        </tr>

                        <tr>
                            <td>Bytes up / down:</td>
                            <td>279.4 KiB / 11.2 MiB</td>
                        </tr>
                    </tbody>
                </table>


                <form action="/users/login" method="POST">
                    <input type="submit" value="Log in">
                </form>
            </div>
        </div>
    </div>



</body>

</html>